.content-container{
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
}
.container-fluid{
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    padding-top: 14px;
}
.error-container{
    background-color: #1c2026;
    padding: 20px 30px 10px 30px;
    margin: 0px;
}
.error-message{
    width: unset;
    background-color: crimson;
    padding: 10px 20px 5px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: #1c2026;
    font-weight: bold;
}
h1{
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    width: auto;
    color: #cde;
    border-bottom:solid 2px rgba(145, 185, 255, 0.1);
    font-weight: bold;
    text-align: center;
}
.content-section{
    border-radius: 10px;
    padding: 20px;
    background-color:rgba(145, 185, 255, 0.07) ;
    margin: 20px;
}
.index-table{
    width: 100%;
    text-align: center;
}
.item-row{
    margin: 20px;
}
.item-cell{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #21252B;
    padding: 15px;
    border-right: solid 2px #2F3642;
    width: 20%;
}
tr .first{
    border-radius: 10px 0px 0px 10px;
}

tr .last{
    border-radius: 0px 10px 10px 0px;
}
.spacer{
    background: none;
    height: 10px;
}
hr{
    background-color: #21252B;
}
.content-section-header{
    display: flex;
}
.btn-main{
    height: 38px;
    padding:5px 20px 5px 20px;
    border:none;
    background-color: #4B0082;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.btn-main:hover{
    background-color: #5B1092;
}
.create{
    height: 38px;
    margin-left: 20px;
    background-color: #0DaC70;
}
.create:hover{
    background-color: #1DbC80;
}
.update{
    height: 30px;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 50%;
    font-size: 20px;
    background-color: darkorange;
}
.update:hover{
    background-color: #ef7C00;
}
.delete{
    height: 30px;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    border-radius: 50%;
    font-size: 20px;
    background-color: crimson;
}
.delete:hover{
    background-color: #cC042C;
}
.exe{
    width: 96%;
    margin: 10px;
}
.float-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card{
    /* margin-top: 30%; */
    width: 500px;
    text-align: left;
    backdrop-filter: blur(20px);
    background-color: rgba(145, 185, 255, 0.1);
    color: rgba(205, 225, 255, 0.4);
    border-radius: 10px;
    border: solid 2px rgba(185, 205, 255, 0.2);
    padding: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.center{
    margin-top: 30%;
}
.form-title{
    margin: 0px 10px 20px 10px;
    font-size: 30px;
    text-align: left;
    width: auto;
    color: rgba(205, 225, 255, 0.4);
    border-bottom:solid 3px rgba(145, 185, 255, 0.2);
}
.input-trn{
    background-color:  rgba(145, 185, 255, 0.2);
    color: white;
    border-radius: 50px;
    border: none;
    margin: 0px;
}
.input-trn:focus{
    background-color:  rgba(145, 185, 255, 0.1);
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow: none;
}
.dark-background{
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
}
.stats-content{
    display: flex;
}
.chart-container{
    width: 36%;
    padding: 20px;
}
.header-info{
    color: white;
    padding: 5px 10px 3px 10px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
